@import "tailwindcss";

@theme {
  --color-brand-bg: #F6F3E4;
  --color-brand-dark: #1A1A1A;
  --color-brand-primary: #6D28D9;
  --color-brand-primaryHover: #5B21B6;
  --color-brand-input: #FFFEEF;
  --color-brand-green: #A3E635;
  --color-brand-purple: #7C3AED;
}

body {
  background-color: var(--color-brand-bg);
  color: #1A1A1A;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}